html{
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 50px;
  margin: 30px 0;
}

#container {
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}
 
#contents {
    padding-bottom: 100px;
}


/* header */
header{
  height: 65px;
  width: 100%;
  top: 0px;
  background-color: rgba(34, 49, 52, 0.9);
  
}

.maintitle h1{
  display        : inline-block;
  color          : #ffffff;            /* 文字の色 */
  font-size      : 36pt;               /* 文字のサイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px #003366,
      -2px  2px 1px #003366,
       2px -2px 1px #003366,
      -2px -2px 1px #003366,
       2px  0px 1px #003366,
       0px  2px 1px #003366,
      -2px  0px 1px #003366,
       0px -2px 1px #003366;        /* 文字の影 */

}

.left-header{
  float: left;
  margin-left: 20px;
}

.title{
  color: white;
  font-size: 20px;
  line-height: 65px;
 
  cursor: pointer;
}

.right-header{
  float: right;
}

.right-header a{
  line-height: 65px;
    padding: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}


.row {
  margin-bottom: 15px;
}

.box-wrapper{
  margin-left: 20px;
}

.box {
  width: 150px;
  height: 150px;
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  font-size: 65px;
  font-weight: bold;
  line-height: 150px;
  color          : #ffffff;            /* 文字の色 */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px #020202,
      -2px  2px 1px #020202,
       2px -2px 1px #020202,
      -2px -2px 1px #020202,
       2px  0px 1px #020202,
       0px  2px 1px #020202,
      -2px  0px 1px #020202,
       0px -2px 1px #020202;        /* 文字の影 */

}

.box + .box {
  margin-left: 10px;
}

#box_0 { background: url('img/java.png'); }
#box_1 { background: url('img/js.jpg'); }
#box_2 { background: url('img/python.jpeg'); }
#box_3 { background: url('img/php.jpg'); }
#box_4 { background: url('img/swift.png'); }
#box_5 { background: url('img/ruby.png'); }
#box_6 { background: url('img/c++.png'); }
#box_7 { background: url('img/c.png'); }

.selected {
  opacity: 1.0;
}

#btn {
  display: inline-block;
  width: 150px;
  padding: 7px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background: #00aaff;
  box-shadow: 0 4px 0 #0088cc;
  color: #fff;
}

#btn:hover {
  opacity: 0.8;
}

.error {
  background: orange;
  padding: 7px;
  color: #fff;
}

/* footer*/

footer{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  color:white;
  text-align: center;
  
}
 
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
footer p{
  padding-top: 20px;
}
